@using MilasDGaz.Models
@model List<Testimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    int count = 0;
}

<br />
<br />
<h3>Müşteri Yorumları</h3>
<br />
@*<h6 style="color:red">Dikkat iletişim bilgileri gibi benzersiz olan şeyler bir kere eklenir daha sonra SADECE güncellenir</h6>*@

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Yorum</th>
        <th>Resim</th>
        <th>İsim</th>
        <th>Yer</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Comment</td>
            <td>@item.İmageUrl</td>
            <td>@item.NameSurname</td>
            <td>@item.Location</td>
            <td><a href="/AdminTestimonial/DeleteRef/@item.Id" class="btn btn-danger">Sil</a></td>
            <th><a href="/AdminTestimonial/UpdateRef/@item.Id" class="btn btn-success">Güncelle</a></th>
        </tr>
    }

</table>
<a href="/AdminTestimonial/AddRef" class="btn btn-primary">Müşteri Yorumu Ekle</a>


