@model List<MilasDGaz.Models.Us>


<div class="container-fluid bg-light d-none d-lg-block">
    <div class="row align-items-center top-bar">
        <div class="col-lg-3 col-md-12 text-center text-lg-start">
            <a href="" class="navbar-brand m-0 p-0">
                <h1 class="text-primary m-0">@*@(Html.Raw(ViewBag.Title))*@ Milas Gaz Mühendislik</h1>
            </a>
        </div>

        @foreach (var item in Model)
        {
            <div class="col-lg-9 col-md-12 text-end">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <i class="fa fa-map-marker-alt text-primary me-2"></i>
                    <p class="m-0">@item.Adress</p>
                </div>
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <i class="far fa-envelope-open text-primary me-2"></i>
                    <p class="m-0">@item.Email</p>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square bg-white text-primary me-1" href="@item.Whatsapp"><i class="fab fa-whatsapp"></i></a>
                    <a class="btn btn-sm-square bg-white text-primary me-1" href="@item.Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square bg-white text-primary me-1" href="@item.Youtube"><i class="fab fa-youtube"></i></a>

                    <a class="btn btn-sm-square bg-white text-primary me-0" href="@item.Instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        }
    </div>
</div>




