
@{
    Html.Raw(ViewBag.Title);
    Layout = "~/Views/Shared/_UILayoutPage1.cshtml";
}



@Html.Action("Navb", "Default")
@Html.Action("NavBar", "Default")
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Hakkımızda</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            @*<ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a class="text-white" href="#">Anasayfa</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Deneyimler</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Hakkımızda</li>
            </ol>*@
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
@Html.Action("Services")
<!-- Service End -->
<!-- About Start -->
@Html.Action("About")
<!-- About End -->
<!-- Fact Start -->
@Html.Action("State")
<!-- Fact End -->
<!-- Team Start -->
@Html.Action("Team")
<!-- Team End -->
@Html.Action("Footer", "Default")